<div class="login-container animated fadeInDown ng-scope">
  <div class="loginbox bg-white">
    <div class="loginbox-title">SIGN IN</div>
    <div class="loginbox-social">
      <div class="social-title ">Connect with Your Social Accounts</div>
      <div class="social-buttons">
        <a href="" class="button-facebook">
          <i class="social-icon fa fa-facebook"></i>
        </a>
        <a href="" class="button-twitter">
          <i class="social-icon fa fa-twitter"></i>
        </a>
        <a href="" class="button-google">
          <i class="social-icon fa fa-google-plus"></i>
        </a>
      </div>
    </div>
    <div class="loginbox-or">
      <div class="or-line"></div>
      <div class="or">OR</div>
    </div>
    <div class="loginbox-textbox">
      <input type="text" [(ngModel)]="userLogin.username" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="loginbox-textbox">
      <input type="password" [(ngModel)]="userLogin.password" name="password" value="" class="form-control" placeholder="Password">
    </div>
    <div class="loginbox-forgot">
      <a href="">Forgot Password?</a>
    </div>
    <div class="loginbox-submit">
      <input (click)="login()" type="button" class="btn btn-primary btn-block" value="Login">
    </div>
  </div>
  <div class="logobox">
  </div>
</div>