<div class="row ng-scope">
  <div class="col-lg-4 col-sm-4 col-xs-4">
    <h5 class="row-title before-themeprimary">
      <i class="fa  fa-arrow-circle-o-right themeprimary"></i>Create Type Exam</h5>
      <div class="widget">
          <div class="widget-header bordered-bottom bordered-pink">
              <span class="widget-caption">Form Create</span>
          </div>
          <div class="widget-body">
              <div id="horizontal-form">
                  <form class="form-horizontal ng-pristine ng-valid" role="form">
                      <input type="text" placeholder="Name" class="form-control" name="Name" [(ngModel)]="category.Name" #Name="ngModel">
                      <div class="horizontal-space"></div>
                      <textarea class="form-control" rows="5" placeholder="Content" name="Description" [(ngModel)]="category.Description" #Description="ngModel"></textarea>
                      <div class="horizontal-space"></div>
                      <div>
                          <button (click)="CreateCategory()" type="" class="btn btn-success">Create</button>
                          <button id="btn-cancel" type="" (click)="cancelUpdate()" class="btn btn-default">Cancel</button>
                        </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-8 col-sm-8 col-xs-8">
    <h5 class="row-title before-themeprimary">
      <i class="fa  fa-arrow-circle-o-right themeprimary"></i>List Type Exam</h5>
    <div class="well with-header with-footer">
      <div class="header bg-palegreen">
        List
      </div>
      <table class="table table-hover">
          <tbody>
              <tr>
                  <th>STT</th>
                  <th>Tên loại</th>
                  <th>Mô tả</th>
                  <th>Hành động</th>
              </tr>
              <tr *ngFor="let item of pagedItems; let i = index">
                  <td>{{page * amount + i + 1}}</td>
                  <td>{{item.Name}}</td>
                  <td>{{item.Description}}</td>
                  <td>
                      <button class="btn btn-sm btn-info" (click)="UpdateCategory(item)">Sửa</button>
                      <button class="btn btn-sm btn-danger" (click)="DeteleCategory(item.Id)">Xóa</button>
                  </td>
          </tbody>
      </table>

      <div class="footer">
          <div class="input-group input-group-sm pull-right" style="width: 150px; margin-left: 10px;">
              <input class="form-control" [(ngModel)]="gopage" name="table_search" placeholder="Tới trang" type="text">
              <div class="input-group-btn">
                  <button class="btn btn-default" (click)="gotoPage()" type="">
                      <i class="fa fa-arrow-circle-right"></i>
                  </button>
              </div>
          </div>
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm no-margin pull-left">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
              </li>
          </ul>
      </div>
    </div>
  </div>

</div>